* {
    padding: 0;
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-around;
   background-color: skyblue;
}

.logo {
    width: 100px;
    height: 100px;
    transition: 0.7s;
}

.logo:hover {
    transform: translateY(8px);
}

.right {
    display: flex;
}

.right li {

    list-style-type: none;
    margin-top: 40px;
    margin-inline: 40px;
}

.right li a {
    align-items: center;
    text-decoration: none;
    color: rgb(75, 75, 129);
    font-size: 20px;
    font-weight: 600;
    font-family: inherit;
    transition: 0.9s;
}

.right li a:hover {
    text-decoration: underline;
   text-decoration-color: navy;
   text-decoration-thickness: 2px;
    cursor: pointer;
}

button {
    width: 100px;
    height: 50px;
    border-radius: 30px;
    font-size: 18px;
    font-family: inherit;
    font-weight: 600;
    margin-top: 25px;
    transition: 0.9s;
    border: navy;
}

button:hover {
    background-color: rgb(40, 40, 167);
    color: white;
    cursor: pointer;
}

.front img {
    width: 100vw;
    height: 90vh;
    box-shadow: gray;
}

h1 {
    text-align: center;
    font-size: 40px;
    font-family: initial;
    font-weight: 600;
    color: rgb(75, 75, 129);
    margin-top: 20px;
}

.services {
    display: flex;
}

.cards {
    width: 400px;
    height: 200px;
    margin-inline: 25px;
    margin-top: 10px;
    border-radius: 20px;
    transition: 0.9s;
}

.cards:hover {
    scale: 1.1;
    cursor: pointer;
}

footer {
    text-align: center;
    font-size: 40px;
    font-family: initial;
    font-weight: 600;
    margin-top: 20px;
    color: rgb(75, 75, 129);
    background-color: skyblue;
}

.image {
    display: flex;
}

.s1{
    width: 400px;
    height: 200px;
    border-radius: 20px;
    margin-inline: 25px;
    margin-top: 30px;
    transition: 0.9s;
}

.s1:hover{
    scale: 1.1;
}

.s2{
    width: 400px;
    height: 200px;
    border-radius: 20px;
    margin-inline: 25px;
    margin-top: 30px;
    transition: 0.9s;
}

.s2:hover{
    scale: 1.1;
}

.s3{
    width: 400px;
    height: 200px;
    border-radius: 20px;
    margin-inline: 25px;
    margin-top: 30px;
    transition: 0.9s;
}

.s3:hover{
    scale: 1.1;
}

.page{
    justify-content: center;
    height: 500px;
    width: 700px;
    margin-inline: 350px;
    margin-top: 50px;
    border-radius: 50px;
    background-color:  skyblue;
}

.end{
    align-items: center;
    margin-left: 50px;
}

input{
    text-decoration: none;
    margin-top: 20px;
    border: none;
    border-radius: 20px ;
    height: 40px;
    width: 600px;
    padding-left: 10px;
}

input::placeholder{
    padding-left: 10px;
}

.c-btn{
    width: 600px;
    height: 50px;
    border: navy;
    transition: 0.9s;
}

.c-btn:hover{
    background-color: rgb(40, 40, 167);
    color: white;
}